@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Madimi+One&display=swap')


[theme~="dark"] {
	--lumo-primary-color: red;
}




.welcome-text {
    justify-content: center;
    padding: 2rem;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}


vaadin-scroller[slot="drawer"] {
  padding: var(--lumo-space-s);
}

vaadin-side-nav-item vaadin-icon {
  padding: 0;
}

[slot="drawer"]:is(header, footer) {
  display: flex;
  align-items: center;
  gap: var(--lumo-space-s);
  padding: var(--lumo-space-s) var(--lumo-space-m);
  min-height: var(--lumo-size-xl);
  box-sizing: border-box;
}

[slot="drawer"]:is(header, footer):is(:empty) {
  display: none;
}

